@{
  Layout = "_Layout";
}

@using FlixMaster.Models;
@model List<FlixMaster.Models.MovieShowing>;

<h1>Showings</h1>
@if (ViewBag.Movies.Count == 0)
{
  <h2> No Movie Showings just yet!</h2><br>
}
else
{
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Movie Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Movie Rating</th>
      </tr>
    </thead>

  @* @foreach (Showing showing in Model) *@
  
  @foreach (var join in Model)
  {
    <tbody>
    <tr>
    <td>@join.Movie.Title</td>
    <td>@Html.ActionLink($"{join.Showing.ShowingDate.ToShortDateString()}", "Details", new {id = join.ShowingId})
    </td>
    <td>@Html.ActionLink($"{join.Showing.ShowingTime.ToShortTimeString()}", "Details", new {id = join.Showing.ShowingId})
    </td>
    <td>@join.Movie.Rating</td>
      </tr>
    </tbody>
  }
  </table>
}

<h4>@Html.ActionLink("Add a new Showing", "Create")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>
